certifi>=2021.10.8
chardet>=4.0.0
charset-normalizer>=2.0.6
click>=8.0.2
idna>=3.2
isodate>=0.6.0
joblib>=1.1.0
nltk>=3.6.4
numpy>=1.21.2
pyparsing>=2.4.7
rdflib>=6.0.1
regex>=2021.10.8
requests>=2.26.0
six>=1.16.0
SPARQLWrapper>=1.8.5
tqdm>=4.62.3
urllib3>=1.26.7
